[mysqld]
user=mysql
bind-address=0.0.0.0
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

innodb_log_file_size=12M
innodb_buffer_pool_size=64M
innodb_flush_log_at_trx_commit=2
sync_binlog=0
server-id=333
gtid_mode=ON
enforce_gtid_consistency=true
log-bin
log-slave-updates
relay_log_info_repository=TABLE
relay_log_recovery=ON
master_info_repository=TABLE
read_only=1
report_host=mysql3
session_track_gtids=OWN_GTID

wsrep_on=on
wsrep_provider=/usr/lib/libgalera_smm.so
#wsrep_provider_options=
wsrep_cluster_address=gcomm://mysql1:4567,mysql2:4567,mysql3:4567
wsrep_cluster_name=wsrep_cluster
wsrep_node_name=mysql3
wsrep_sst_auth=root:root
wsrep_sst_method=rsync
